housing2009a.csv
housing2009b.csv
housing2010a.csv
housing2010b.csv
housing2011a.csv
housing2011b.csv
housing2012a.csv
housing2012b.csv
housing2013a.csv
housing2013b.csv
housing2014a.csv
housing2014b.csv
housing2015a.csv
housing2015b.csv
housing2016a.csv
housing2016b.csv
housingwts2009a.csv
housingwts2009b.csv
housingwts2010a.csv
housingwts2010b.csv
housingwts2011a.csv
housingwts2011b.csv
housingwts2012a.csv
housingwts2012b.csv
housingwts2013a.csv
housingwts2013b.csv
housingwts2014a.csv
housingwts2014b.csv
housingwts2015a.csv
housingwts2015b.csv
housingwts2016a.csv
housingwts2016b.csv
nc_pums_house_16.csv
nc_pums_pop_16.csv
population2009a.csv
population2009b.csv
population2010a.csv
population2010b.csv
population2011a.csv
population2011b.csv
population2012a.csv
population2012b.csv
population2013a.csv
population2013b.csv
population2014a.csv
population2014b.csv
population2015a.csv
population2015b.csv
population2016a.csv
population2016b.csv
populationwts2009a.csv
populationwts2009b.csv
populationwts2010a.csv
populationwts2010b.csv
populationwts2011a.csv
populationwts2011b.csv
populationwts2012a.csv
populationwts2012b.csv
populationwts2013a.csv
populationwts2013b.csv
populationwts2014a.csv
populationwts2014b.csv
populationwts2015a.csv
populationwts2015b.csv
populationwts2016a.csv
populationwts2016b.csv
